## 01 Konsep dari Koleksi

In [35]:
#Lengkapi kode berikut sehingga kode tersebut menampilkan angka 2

a=(6,5,4,[1,2,3])
for a in [2] :
    print(a)

2

In [37]:
#Lengkapi kode berikut sehingga kode tersebut untuk mengubah angka 2 menjadi angka 7 dan tampilkan angka tersebut

a=(6,5,4,[1,2,3])
a[3][1] = 7
print(a[3][1])

7

## 02 List dan Loop

In [7]:
#Lengkapi program berikut untuk menjumlahkan angka berikut sehingga mendapatkan total dari angka yang di dalam list

angka=[1,4,10,5]
total= 0
for i in angka:
    print(i)
print(sum(angka))

1
4
10
5
20

In [3]:
x = [2,4,5,6,8]
print(x)
print(sum(x))

[2, 4, 5, 6, 8]
25

## 03 List Mutability

In [47]:
nomor=[1,4,6,8,0]
print(nomor)

[1, 4, 6, 8, 0]

In [49]:
nomor[1]=88
print(nomor)

[1, 88, 6, 8, 0]

In [50]:
nomor[1]

88

## 04 Fungsi dari List

In [51]:
#Tulis program python untuk menampilkan angka paling tinggi dari list angka di bawah ini

list_angka=[11,5,70,102,12,4,9]
print(max(list_angka))

102

In [ ]:
#Tulis program python untuk menampilkan angka paling tinggi

## 05 Sorting List

In [76]:
#Sortir Ascending

list_angka=[44,2,80,105,11,3,7]
list_angka.sort()
print(list_angka)

[2, 3, 7, 11, 44, 80, 105]

In [ ]:
#Sortir Descending

list_angka=[44,2,80,105,11,3,7]

## 06 Splitting String ke Dalam List

In [10]:
#Tuliskan program python untuk mengganti list karakter di bawah ini ke dalam output string Hello

karakter=['H','e','l','l','o']
print(karakter)

['H', 'e', 'l', 'l', 'o']

In [12]:
x = karakter.split(',')
print(x)

AttributeError: 'list' object has no attribute 'split'

In [13]:
#Tuliskan program python untuk menggabungkan list buah di bawah ini dengan simbol "-"

buah=['Apel','Anggur','Pisang','Mangga','Jambu']
print(buah)

['Apel', 'Anggur', 'Pisang', 'Mangga', 'Jambu']

In [9]:
a = buah.split()

AttributeError: 'list' object has no attribute 'split'

In [17]:
#Tuliskan program python untuk mengganti list karakter di bawah ini ke dalam output string Hello

karakter="Hello"
print(karakter)

Hello

In [18]:
kata= karakter.split()

In [19]:
print(kata)

['Hello']

In [14]:
#Tuliskan program python untuk menggabungkan list buah di bawah ini dengan simbol "-"

buah = "Apel Anggur Pisang Mangga Jambu"
print(buah)

Apel Anggur Pisang Mangga Jambu

In [15]:
kata = buah.split()

In [16]:
print(kata)

['Apel', 'Anggur', 'Pisang', 'Mangga', 'Jambu']